<div class="">
  <org-content-header title="Tests" [breadcrumbs]="breadcrumbs">
    <button
      *ngIf="userType === 'admin'"
      class="btn btn-primary me-2 ms-auto"
      [routerLink]="['/admin/add-test']"
    >
      Add Test
    </button>
  </org-content-header>
  <div class="col col-md-4 col-sm-12 mt-4 mb-2">
    <div class="d-flex flex-column medium__group mt-2">
      <!-- <label for="mobile-field" class="mb-2 text__body-dark">Select Subject</label> -->
      <div
        class="btn-group btn-secondary"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input
          type="radio"
          class="btn-check"
          [(ngModel)]="isAllTests"
          id="radio-all-tests"
          [value]="false"
          autocomplete="off"
        />
        <label class="btn btn-outline-secondary p-1" for="radio-all-tests"
          >All Tests</label
        >
        <input
          type="radio"
          class="btn-check"
          [(ngModel)]="isAllTests"
          id="radio-all-users"
          [value]="true"
          autocomplete="off"
        />
        <label class="btn btn-outline-secondary p-1" for="radio-all-users"
          >All Users</label
        >
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="!isAllTests">
    <div class="col col-12">
      <div class="card p-2 table-responsive">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th>Test ID</th>
              <th>Name</th>
              <th>Stream</th>
              <th>Subject</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{ item.id }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.stream }}</td>
              <td>{{ item.subjectName }}</td>
              <td>{{ item.testDate | date }}</td>
              <td class="d-flex">
                <ng-template #spinner>
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </ng-template>
                <button
                  class="btn btn-sm btn-secondary"
                  [routerLink]="['/admin/test-result/' + item._id]"
                >
                  View
                </button>
                <button
                  *ngIf="userType === 'admin'"
                  class="btn btn-sm btn-secondary ms-2"
                  (click)="deleteTest(item._id)"
                >
                  <span *ngIf="!item.btnLoading; else spinner">Delete</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4" *ngIf="loading">
          <span class="spinner-border" role="status" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="isAllTests">
    <div class="col col-12">
      <org-all-user-details />
    </div>
  </div>
</div>
