<div class="">
  <org-content-header title="Tests" [breadcrumbs]="breadcrumbs">
    <button
      *ngIf="userType === 'admin'"
      class="btn btn-primary me-2 ms-auto"
      [routerLink]="['/admin/add-test']"
    >
      Add Test
    </button>
  </org-content-header>
  <div class="row">
    <div class="col col-12">
      <div class="pb-4">
        <ng-container *ngIf="loading; else ifNoData">
          <ng-container *ngTemplateOutlet="spinner"></ng-container>
        </ng-container>
        <ng-template #ifNoData>
          <ng-container *ngIf="data.length === 0; else showTableList">
            <div class="p-4 text-center">
              <h5>No data present.</h5>
            </div>
          </ng-container>
          <ng-template #showTableList>
            <org-ay-data-table
              [list]="data"
              [tableHeader]="thead"
              (updateData)="changeData($event)"
              [searchFilterKeys]="searchFilterKeys"
              [searchPlaceHolder]="searchPlaceHolder"
            >
              <tr *ngFor="let item of filteredData" tBody>
                <td *ngIf="userType === 'admin'">{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.stream }}</td>
                <td>{{ item.subjectName }}</td>
                <td>{{ item.testDate | date }}</td>
                <td>
                  <div class="d-flex">
                    <button
                      class="btn btn-sm btn-secondary"
                      [routerLink]="['/admin/test-result/' + item._id]"
                    >
                      View
                    </button>
                    <button
                      *ngIf="userType === 'admin'"
                      class="btn btn-sm btn-secondary ms-2"
                      (click)="deleteTest(item._id)"
                    >
                      <span *ngIf="!item.btnLoading; else spinner">Delete</span>
                    </button>
                  </div>
                  <ng-template #spinner>
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                  </ng-template>
                </td>
              </tr>
            </org-ay-data-table>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="d-flex justify-content-center py-4">
    <span
      class="spinner-border spinner-border-lg"
      role="status"
      aria-hidden="true"
    ></span>
  </div>
</ng-template>
