<div class="col col-12">
    <h6>Total Students: {{userResultData.length || 0}}</h6>
    <div class="card p-2 table-responsive">
      <table class="table text-center">
        <thead class="table-light">
          <tr>
            <th>SNo</th>
            <th class="text-start">Name</th>
            <th *ngIf="userType === 'admin'">Mobile No</th>
            <th>Stream</th>
            <th>Ref Points</th>
            <th>Test Attempted</th>
            <th>Tests Points</th>
            <th>Total Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userItem of userResultData, let i=index">
            <td>{{ i+1 }}</td>
            <td class="text-start">{{ userItem.name }}</td>
            <td *ngIf="userType === 'admin'">{{ userItem.mobileNo }}</td>
            <td>{{ userItem.stream }}</td>
            <td>{{ userItem.referralPoints || 0}}</td>
            <td>{{ userItem.totalTests }}</td>
            <td>{{ userItem.totalTestPoints.toFixed(2) || 0 }}</td>
            <td>{{ userItem.totalPoints.toFixed(2) || 0 }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-4" *ngIf="loading">
        <span class="spinner-border" role="status" aria-hidden="true"></span>
      </div>
    </div>
  </div>