<button
  *ngIf="path"
  type="button"
  class="btn btn__back ms-2 mt-2"
  [routerLink]="[path]"
>
  <
</button>

<div class="py-2 header__login">
  <!-- <div class="app__logo">
    <img src="assets/images/logo3.webp" alt="aayam-star-logo" width="220px" />
  </div> -->

  <div class="d-flex justify-content-center">
    <img src="assets/images/logo-icon.webp" alt="aayam-logo" height="150px" />
  </div>
  <div class="text-center">
    <h2 class="text-center pt-2 text__body">Welcome To!</h2>
    <img
      class="pe-4"
      src="assets/images/logo3.webp"
      alt="aayam-star-logo"
      width="300px"
    />
    <div
      class="d-flex flex-column justify-content-center align-items-center px-4"
    >
      <p class="text-center pt-1 mb-1 text__body">Powered by</p>
      <img src="assets/images/logo.png" alt="aayam-logo" width="140px" />
    </div>
    <!-- <h5 class="text-center pb-4 text__body-60">Quick Test Application</h5> -->
  </div>
</div>
