 <!-- NEWLY ADDED BY JITENDRA -->

<div class="body__bg">
    <org-auth-header path="/admin-login"></org-auth-header>
    <div class="main__card px-4 py-4">
        <h4 class="text-center py-4 text-grey mb-4">Verify OTP</h4>
        <form class="row g-3" [formGroup]="tForm" (ngSubmit)="onSubmit()">
            <div class="col-12 mt-4 mb-2">
                <div class="d-flex justify-content-center otp__form">
                    <input type="text" class="form-control ifield ifield-login text-center" formControlName="otp_1" name="mobile-field-1" value="" placeholder="*" (keyup)="onDigitInput($event)" maxLength="1" required>
                    <input type="text" class="form-control ifield ifield-login text-center" formControlName="otp_2" name="mobile-field-2" value="" placeholder="*" (keyup)="onDigitInput($event)" maxLength="1" required>
                    <input type="text" class="form-control ifield ifield-login text-center" formControlName="otp_3" name="mobile-field-3" value="" placeholder="*" (keyup)="onDigitInput($event)" maxLength="1" required>
                    <input type="text" class="form-control ifield ifield-login text-center" formControlName="otp_4" name="mobile-field-4" value="" placeholder="*" (keyup)="onDigitInput($event)" maxLength="1" required>

                </div>
                <div
                  *ngIf="errorMessage"
                  class="form-text text__danger text-center"
                >
                  {{ errorMessage }}
                </div>
              <!-- <label for="mobile-field" class="visually-hidden">Enter Mobile Number</label> -->
            </div>
            <div class="col-12 mt-4">
              <button type="submit" class="ibtn ibtn__primary w-100 mb-3" [disabled]="loading">
                <span *ngIf="!loading; else spinner">Verify OTP</span>
              </button>
              <ng-template #spinner>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </ng-template>
            </div>
            <div class="col-12 mt-4 text__grey text-center">
                <!-- <span class="me-2">OTP</span> -->
                <a class="text__action__primary" href="javascript:void()" (click)="resendOtp()">Resend OTP</a>
              </div>
          </form>
    </div>
</div>
